animation.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Frame">
	<xs:complexType>
		<xs:attribute name="uri" type="xs:string" use="required"/>
	</xs:complexType>
</xs:element>
<xs:element name="Animation">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Frame" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="framerate" type="xs:int"/>
		<xs:attribute name="gridwidth" type="xs:decimal"/>
		<xs:attribute name="gridheight" type="xs:decimal"/>
		<xs:attribute name="loopframe" type="xs:int"/>
	</xs:complexType>
</xs:element>

</xs:schema>
