config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Modules">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Module" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:anyAttribute processContents="lax"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- =========== Top-Level Structure =========== -->

<xs:element name="AssistantDM">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Modules" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
