party.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="AbilityType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Strength"/>
		<xs:enumeration value="Dexterity"/>
		<xs:enumeration value="Constitution"/>
		<xs:enumeration value="Intelligence"/>
		<xs:enumeration value="Wisdom"/>
		<xs:enumeration value="Charisma"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="AbilityScore">
	<xs:complexType>
		<xs:attribute name="type" type="AbilityType" use="required"/>
		<xs:attribute name="value" type="xs:int" use="required"/>
		<xs:attribute name="temp" type="xs:int"/>
		<xs:attribute name="damage" type="xs:int"/>
		<xs:attribute name="drain" type="xs:int"/>		
	</xs:complexType>
</xs:element>

<xs:element name="AbilityScores">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="AbilityScore" minOccurs="0" maxOccurs="6"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:simpleType name="SaveType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Fortitude"/>
		<xs:enumeration value="Reflex"/>
		<xs:enumeration value="Will"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="Save">
	<xs:complexType>
		<xs:attribute name="type" type="SaveType" use="required"/>
		<xs:attribute name="base" type="xs:int"/>
		<xs:attribute name="misc" type="xs:int"/>
	</xs:complexType>
</xs:element>

<xs:element name="SavingThrows">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Save" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="Skill">
	<xs:complexType>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="ranks" type="xs:decimal" use="required"/>
		<xs:attribute name="misc" type="xs:int"/>
	</xs:complexType>
</xs:element>

<xs:element name="Skills">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Skill" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:simpleType name="ACComponentType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Dex"/>
		<xs:enumeration value="Dexterity"/>
		<xs:enumeration value="Armor"/>
		<xs:enumeration value="Shield"/>
		<xs:enumeration value="Size"/>
		<xs:enumeration value="Natural"/>
		<xs:enumeration value="Natural Armor"/>
		<xs:enumeration value="Deflect"/>
		<xs:enumeration value="Deflection"/>
		<xs:enumeration value="Dodge"/>
		<xs:enumeration value="Misc"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="ACComponent">
	<xs:complexType>
		<xs:attribute name="type" type="ACComponentType" use="required"/>
		<xs:attribute name="value" type="xs:int" use="required"/>
	</xs:complexType>
</xs:element>

<xs:simpleType name="SizeCategory">
	<xs:restriction base="xs:string">
		<xs:enumeration value="Fine"/>
		<xs:enumeration value="Diminutive"/>
		<xs:enumeration value="Tiny"/>
		<xs:enumeration value="Small"/>
		<xs:enumeration value="Medium"/>
		<xs:enumeration value="Large"/>
		<xs:enumeration value="Huge"/>
		<xs:enumeration value="Gargantuan"/>
		<xs:enumeration value="Colossal"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="Shield">
	<xs:complexType>
		<xs:attribute name="acp" type="xs:int"/>
		<xs:attribute name="bonus" type="xs:int"/>
		<xs:attribute name="description" type="xs:string"/>
		<xs:attribute name="enhancement" type="xs:int"/>
		<xs:attribute name="properties" type="xs:string"/>
		<xs:attribute name="spell_failure" type="xs:int"/>
		<xs:attribute name="weight" type="xs:int"/>
		<xs:attribute name="proficient" type="xs:boolean"/>
		<xs:attribute name="base_item" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="Armor">
	<xs:complexType>
		<xs:attribute name="acp" type="xs:int"/>
		<xs:attribute name="bonus" type="xs:int"/>
		<xs:attribute name="description" type="xs:string"/>
		<xs:attribute name="enhancement" type="xs:int"/>
		<xs:attribute name="properties" type="xs:string"/>
		<xs:attribute name="spell_failure" type="xs:int"/>
		<xs:attribute name="weight" type="xs:int"/>
		<xs:attribute name="max_dex" type="xs:int"/>
		<xs:attribute name="speed" type="xs:int"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="proficient" type="xs:boolean"/>
		<xs:attribute name="base_item" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="AC">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Armor" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Shield" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ACComponent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="natural_armor" type="xs:int"/>
	</xs:complexType>
</xs:element>

<xs:element name="XPChallenge">
	<xs:complexType>
	    <xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="cr" type="xs:string" use="required"/>
				<xs:attribute name="number" type="xs:int" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:element name="XPAward">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="XPChallenge" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="xp" type="xs:int" use="required"/>
		<xs:attribute name="level" type="xs:int" use="required"/>
		<xs:attribute name="party" type="xs:int" use="required"/>
		<xs:attribute name="penalty" type="xs:int"/>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
</xs:element>

<xs:element name="XPChange">
	<xs:complexType mixed="true">
		<xs:attribute name="xp" type="xs:int" use="required"/>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
</xs:element>

<xs:element name="XPLevelChange">
	<xs:complexType mixed="true">
		<xs:attribute name="old" type="xs:int" use="required"/>
		<xs:attribute name="new" type="xs:int" use="required"/>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
</xs:element>

<xs:element name="Level">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="ClassOption" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="selection" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Class">
					<xs:complexType>
						<xs:attribute name="class" type="xs:string" use="required"/>
						<xs:attribute name="hp-roll" type="xs:int"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="XPAward"/>
				<xs:element ref="XPChange"/>
				<xs:element ref="XPLevelChange"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="level" type="xs:int" use="required"/>
		<xs:attribute name="xp" type="xs:int" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="Modifier">
	<xs:complexType>
		<xs:attribute name="target" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:int" use="required"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="description" type="xs:string"/> <!-- attribute used only for character sheet output -->
		<xs:attribute name="condition" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="PropertyChange">
	<xs:complexType>
		<xs:attribute name="target" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:int" use="required"/>
		<xs:attribute name="property" type="xs:string"/>
		<xs:attribute name="description" type="xs:string"/> <!-- attribute used only for character sheet output -->
	</xs:complexType>
</xs:element>

<xs:element name="Buff">
	<xs:complexType>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Modifier"/>
				<xs:element ref="PropertyChange"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="caster_level" type="xs:int"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="Feat">
	<xs:complexType>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="target" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="HitPoints">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="TempHPs" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="hps" type="xs:int"/>
					<xs:attribute name="source" type="xs:string"/>
					<xs:attribute name="id" type="xs:int"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="maximum" type="xs:int"/>
		<xs:attribute name="wounds" type="xs:int"/>
		<xs:attribute name="non-lethal" type="xs:int"/>
	</xs:complexType>
</xs:element>

<xs:element name="Attacks">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AttackForm" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="ammunition" type="xs:string"/>
					<xs:attribute name="critical" type="xs:string"/>
					<xs:attribute name="enhancement" type="xs:int"/>
					<xs:attribute name="original-damage" type="xs:string"/>
					<xs:attribute name="damage" type="xs:string"/>		<!-- for character sheet only -->
					<xs:attribute name="properties" type="xs:string"/>
					<xs:attribute name="original-size" type="xs:string"/>
					<xs:attribute name="size" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
					<xs:attribute name="total" type="xs:int"/>	<!-- for character sheet only -->
					<xs:attribute name="range" type="xs:int"/>
					<xs:attribute name="weight" type="xs:int"/>
					<xs:attribute name="kind" type="xs:string"/>
					<xs:attribute name="usage" type="xs:int"/>
					<xs:attribute name="id" type="xs:int"/>
					<xs:attribute name="proficient" type="xs:boolean"/>
					<xs:attribute name="base_item" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="temp" type="xs:int"/>
 		<xs:attribute name="combat_expertise" type="xs:int"/>
 		<xs:attribute name="fighting_defensively" type="xs:boolean"/>
 		<xs:attribute name="total_defense" type="xs:boolean"/>
 		<xs:attribute name="power_attack" type="xs:int"/>
 	</xs:complexType>
</xs:element>

<xs:element name="Character">
	<xs:complexType>
		<xs:all minOccurs="0">
			<xs:element ref="Level"/>
			<xs:element ref="AbilityScores"/>
			<xs:element ref="HitPoints"/>
			<xs:element name="Initiative">
				<xs:complexType>
					<xs:attribute name="value" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Sanity">
				<xs:complexType>
					<xs:attribute name="current" type="xs:int" use="required"/>
					<xs:attribute name="knowledge" type="xs:int" use="required"/>
					<xs:attribute name="session" type="xs:int"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Size">
				<xs:complexType>
					<xs:attribute name="category" type="SizeCategory" use="required"/>
					<xs:attribute name="space" type="xs:int" use="required"/>
					<xs:attribute name="reach" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SavingThrows"/>
			<xs:element ref="Skills"/>
			<xs:element ref="AC"/>
			<xs:element ref="Attacks"/>
			<xs:element name="Feats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Feat" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Buffs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Buff" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ItemSlots" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ItemSlot" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="slot" type="xs:string" use="required"/>
								<xs:attribute name="item" type="xs:string" use="required"/>
								<xs:attribute name="buff_id" type="xs:int"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Inventory" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="action-points" type="xs:string"/>
		<xs:attribute name="age" type="xs:string"/>
		<xs:attribute name="alignment" type="xs:string"/>
		<xs:attribute name="arcane-spell-failure" type="xs:string"/>
		<xs:attribute name="damage-reduction" type="xs:string"/>
		<xs:attribute name="deity" type="xs:string"/>
		<xs:attribute name="eye-colour" type="xs:string"/>
		<xs:attribute name="gender" type="xs:string"/>
		<xs:attribute name="hair-colour" type="xs:string"/>
		<xs:attribute name="height" type="xs:string"/>
		<xs:attribute name="player" type="xs:string"/>
		<xs:attribute name="race" type="xs:string"/>
		<xs:attribute name="region" type="xs:string"/>
		<xs:attribute name="size" type="xs:string"/>
		<xs:attribute name="speed" type="xs:string"/>
		<xs:attribute name="spell-resistance" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="weight" type="xs:string"/>
		<xs:attribute name="campaign" type="xs:string"/>
		<xs:attribute name="uicolor" type="xs:string"/>
	</xs:complexType>
</xs:element>

<!-- =========== Party structure =========== -->
<xs:element name="Party">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Member" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="autosave" type="xs:boolean"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- =========== LEDControl structure =========== -->
<xs:element name="Region">
	<xs:complexType>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="count" type="xs:int" use="required"/>
		<xs:attribute name="start" type="xs:int" use="required"/>
		<xs:attribute name="enabled" type="xs:boolean"/>
	</xs:complexType>
</xs:element>

<xs:element name="Colour">
	<xs:complexType>
		<xs:attribute name="red" type="xs:int" use="required"/>
		<xs:attribute name="green" type="xs:int" use="required"/>
		<xs:attribute name="blue" type="xs:int" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="LEDControl">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Regions" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Region" minOccurs="0" maxOccurs="unbounded"/>		
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecentColours" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Colour" minOccurs="0" maxOccurs="unbounded"/>		
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="brightness" type="xs:int"/>
	</xs:complexType>
</xs:element>

<!-- =========== Combat Structure ============ -->

<!-- =========== InitiativeList structure =========== -->
<xs:element name="MonsterEntry">
	<xs:complexType>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="roll" type="xs:integer"/>
		<xs:attribute name="tieBreak" type="xs:integer"/>
		<xs:attribute name="initMod" type="xs:integer"/>
		<xs:attribute name="maxHPs" type="xs:integer"/>
		<xs:attribute name="wounds" type="xs:integer"/>
		<xs:attribute name="nonLethal" type="xs:integer"/>
		<xs:attribute name="fullAC" type="xs:integer"/>
		<xs:attribute name="touchAC" type="xs:integer"/>
		<xs:attribute name="flatFootedAC" type="xs:integer"/>
		<xs:attribute name="creatureID" type="xs:integer"/>
	</xs:complexType>
</xs:element>

<xs:element name="CharacterEntry">
	<xs:complexType>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="roll" type="xs:integer"/>
		<xs:attribute name="tieBreak" type="xs:integer"/>
		<xs:attribute name="creatureID" type="xs:integer"/>
	</xs:complexType>
</xs:element>

<xs:element name="InitiativeList">
	<xs:complexType>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="MonsterEntry"/>
				<xs:element ref="CharacterEntry"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- =========== EffectList structure =========== -->
<xs:element name="EffectEntry">
	<xs:complexType>
		<xs:attribute name="buff_id" type="xs:integer"/>
		<xs:attribute name="effect" type="xs:string" use="required"/>
		<xs:attribute name="source" type="xs:string" use="required"/>
		<xs:attribute name="initiative" type="xs:integer" use="required"/>
		<xs:attribute name="duration" type="xs:integer" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="EffectList">
	<xs:complexType>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="EffectEntry"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<xs:element name="Combat">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="InitiativeList" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EffectList" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="round" type="xs:integer"/>
	</xs:complexType>
</xs:element>

<!-- =========== Top-Level Structure =========== -->

<xs:element name="Characters">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Character" maxOccurs="unbounded"/>
			<xs:element ref="Party" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Combat" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LEDControl" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
